body{
	font-family:Calibri, Arial, Sans-Serif;
	overflow:hidden;
	margin:0px;
}
div.board{
	background-color:#bbada0;
	padding:4px;
	border-radius:4px;
	width:576px;
	margin:auto;
	position:relative;
}
div.grid-cell{
	width:64px;
	height:64px;
	display:inline-block;
	border-radius:2px;
	background-color:rgba(119, 114, 109, 0.35);
	margin:4px;
	box-shadow:#444444 2px 2px 2px inset;
}
div.screen{
	position:absolute;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	border:0px;
}
div.menu-wrapper{
	left:0px;
	top:0px;
}
div.game-wrapper{
	left:100%;
	top:0px;
}
div.name-wrapper{
	left:-100%;
	top:0px;
}
div.games-wrapper{
	left:0%;
	top:-100%;
}
div.game-creator{
	left:0px;
	top:100%;
}
div.game-waiter{
	left:100%;
	top:100%;
}
div.content{
	margin-left:50%;
	margin-top:250px;
}
label{
	width:100px;
	float:left;
	clear:left;
}
input{
	width:150px;
	float:left;
}
button{
	clear:left;
	width:120px;
	margin-right:10px;
}
.form{
	width:260px;
	margin:auto;
	margin-top:250px;
}
/*games-wrapper*/
.games-wrapper .games{
	width:80%;
	height:100%;
	display:inline-block;
	vertical-align:top;
}
.games-wrapper .menu{
	display:inline-block;
	vertical-align:top;
}

.games-wrapper .games .game{
    margin: 20px 50px 20px 20px;
	cursor:pointer;
}

.games-wrapper .games .game .name{
	display:inline-block;
    width: 400px;
}

.games-wrapper .games .game .playercount{
	display:inline-block;
    width: calc(100% - 400px);
}

/*game-waiter*/
.game-waiter .players{
	width:80%;
	height:100%;
	display:inline-block;
	vertical-align:top;
}
.game-waiter .menu{
	display:inline-block;
	vertical-align:top;
}

.game-waiter .players .player{
    margin: 20px 50px 20px 20px;
}

div.tile{
	width:64px;
	height:64px;
	position:absolute;
	border-radius:2px;
	background-color:#DDDDDD;
	font-weight:bold;
	font-size:30px;
	font-family:"Clear Sans", "Helvetica Neue", Arial, sans-serif;
	text-align:center;
	line-height:64px;
}