body{
	/*background-color:#F4F4FF;
	font-family:Calibri, Arial, Sans-Serif;*/
}
div.game-wrapper{
	/*padding: 25px;
	border-radius:25px;
	border:1px solid #DDDDDD;
	background-color:white;
	box-shadow: 3px 3px 3px #888888 inset;
	height:480px;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	vertical-align:top;
	width:640px;
	overflow:hidden;
	position:relative;
	cursor:none;*/
	background-color:#bbada0;
	padding:4px;
	border-radius:4px;
	width:580px;
	margin:auto;
}
div.grid-cell{
	width:64px;
	height:64px;
	display:inline-block;
	border-radius:2px;
	background-color:rgba(238, 228, 218, 0.35);
	margin:4px;
}